// Figure
//
// Displaying images in a responsive and retina friendly way
// using the [Picturefill library](http://scottjehl.github.io/picturefill/).
//
// Styleguide figure
@mixin figure($figcaption: off, $spinner-type: '') {
  margin: 0;

  // Fluid images, both vertically and horizontally. Works well with the intrinsic ratio mixin
  img {
    max-width: 100%;
    max-height: 100%;
  }

  // Spinner
  @include figure__spinner($spinner-type);

  figcaption {
    @include figure__figcaption($figcaption);
  }
}
