// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// Main color
$white: fff;

// Main color
$blue: #4916DA;


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-blue') {
    color: $white;
    background-color: $blue;
    
  }

}

// Color classes

.white {
  background: fff;
};

.blue {
  background: #4916DA;
};


// Color pair classes

.white-on-blue {
  color: $white;
  background-color: $blue;
  
}

