<h1>Home</h1>


  
  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/wanderlust-festival-laptop_desktop.png, /assets/images/wanderlust-festival-laptop_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/wanderlust-festival-laptop_laptop.png, /assets/images/wanderlust-festival-laptop_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/wanderlust-festival-laptop_tablet.png, /assets/images/wanderlust-festival-laptop_tablet2x.png 2x">
    <source srcset="/assets/images/wanderlust-festival-laptop_mobile.png, /assets/images/wanderlust-festival-laptop_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wanderlust-festival-laptop_desktop.png" alt="PNG">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    PNG
  </figcaption>

  
</figure>


