<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>

    <h1>Home</h1>

    
      
      <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/wanderlust-festival-laptop_desktop.png, /assets/images/wanderlust-festival-laptop_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/wanderlust-festival-laptop_laptop.png, /assets/images/wanderlust-festival-laptop_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/wanderlust-festival-laptop_tablet.png, /assets/images/wanderlust-festival-laptop_tablet2x.png 2x">
    <source srcset="/assets/images/wanderlust-festival-laptop_mobile.png, /assets/images/wanderlust-festival-laptop_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wanderlust-festival-laptop_desktop.png" alt="Same PNG image across all devices">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Same PNG image across all devices
  </figcaption>

  
</figure>

    
      
      <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/smuff-product-laptop_desktop.png, /assets/images/smuff-product-laptop_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/smuff-product-laptop_laptop.png, /assets/images/smuff-product-laptop_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/smuff-product-tablet_tablet.png, /assets/images/smuff-product-tablet_tablet2x.png 2x">
    <source srcset="/assets/images/smuff-product-mobile_mobile.png, /assets/images/smuff-product-mobile_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/smuff-product-laptop_desktop.png" alt="Different PNG images for different devices. Resize the browser to tablet/mobile to see changes.">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Different PNG images for different devices. Resize the browser to tablet/mobile to see changes.
  </figcaption>

  
</figure>

    

  </body>
</html>
